<div class="confirm-dialog" *ngIf="open">
    <div class="background" (click)="toggleConfirmDialog()">

    </div>
    <div class="dialog">
        <div class="row">
            <div class="col-12">
                <p class="badge badge-warning" *ngIf="messageError!=null">{{messageError}}</p>
                <p>
                    Are you sure to CANCEL an appointment at <span class="hight-light">{{timeCancel.startTime | date:'HH:mm'}}</span> to <span class="hight-light">{{timeCancel.endTime | date:'HH:mm'}}</span> on <span class="hight-light">{{timeCancel.startTime | date:'MMMM d, y'}}</span>?
                </p>

            </div>
            <div class="col-12 text-left">
                <div class="form-group">
                    <!-- <label for="" class="badge badge-warning">Write your reason here</label> -->
                    <input type="text" [(ngModel)]="message" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Write your reason here">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <button type="button" [disabled]="message!=''?false:true" class="btn btn-primary" (click)="confirmOK()">Confirm</button>
            </div>
            <div class="col-6">
                <button type="button" (click)="toggleConfirmDialog()" class="btn btn-danger">Close</button>
            </div>
        </div>
    </div>
</div>