.side-bar{
    border-right: 1px solid rgba(0,0,0,.1);
    position: sticky;
    height: 100vh;
}
hr{
    margin: 0;
}
.admin-page{
    position: fixed;
    height: 100%;
}
.header{
    border-bottom:1px solid rgba(0,0,0,.1);
}
.body{
    height: 100%;
}
.infor{
    height: 100%;
    overflow: auto;
    padding-bottom: 200px;
    padding-top: 16px;
}