<div style="background-color: #007bff1f;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="title">About us</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 info" style="font-size: 2vh;">
                <p>Email: hc@example.com</p>
                <p>Hotline: +84905468006</p>
                <p>Address: Hoang Dieu 455, Hai Chau, Da Nang, Viet Nam</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 license">
                <p>Copyright ©2019 All rights reserved</p>
            </div>
        </div>
    </div>
</div>