.title {
    font-family: Playfair Display, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 4vh;
}

.info {
    padding: 0px 50px;
}

.license {
    text-align: center;
    color: gray;
}