<!-- <div class="">
    <i class="fas fa-arrow-circle-left fa-2x" (click)="back()" style="color: #007bff;"></i>
</div> -->
<div class="row" *ngIf="data!=null">
    <div class="col-lg-12 text-center">

        <label class="title-feature"> DETAIL USER</label>
    </div>
    <div class="col-lg-12" style="position: absolute;">

        <i class="fas fa-arrow-circle-left fa-2x" (click)="back()" style="color: #007bff;"></i>
    </div>


    <div class="col-lg-5 box-image">
        <img [src]="profile.avatar!=''?profile.avatar:'assets/images/no-avatar.png'" alt="" style="width: inherit; border-radius: 10px; height: 500px; object-fit: cover;">
        <br>
        <label class="name-doctor">
            {{profile.name}}
        </label>
        <label class="specialist">
            {{role=="doctor"?data.major+'':'Patient'}}
        </label>
    </div>
    <div class="col-lg-5">
        <table>
            <tr>
                <td>
                    Username:
                </td>
                <th>
                    {{profile.account.username}}
                </th>
            </tr>
            <tr>
                <td>
                    Name:
                </td>
                <th>
                    {{profile.name}}
                </th>
            </tr>
            <tr>
                <td>
                    Created date:
                </td>
                <th>
                    {{profile.account.create_at | date:'MMM-dd-y HH:mm'}}
                </th>
            </tr>
            <!-- <tr>
                <td>
                    Status:
                </td>
                <th>
                    -
                </th>
            </tr> -->
            <tr>
                <td>
                    Account status:
                </td>
                <th>
                    {{profile.account.is_banded?'Banned':'Active'}}
                </th>
            </tr>
            <tr>
                <td>
                    Birtdday:
                </td>
                <th>
                    {{profile.birthday | date:'MMM-dd-y'}}
                </th>
            </tr>
            <tr *ngIf="role=='doctor'">
                <td>
                    Specialist:
                </td>
                <th>
                    {{data.major}}
                </th>
            </tr>
            <tr *ngIf="role=='doctor'">
                <td>
                    Certificate:
                </td>
                <th>
                    <img [src]="data.certificate" style="width: 200px;" alt="">
                </th>
            </tr>
            <tr>
                <td>
                    Address:
                </td>
                <th>
                    {{profile.address.addressLine}}, {{profile.address.ward}}, {{profile.address.city}}, {{profile.address.country}}
                </th>
            </tr>
            <tr *ngIf="role=='doctor'">
                <td>
                    Experience:
                </td>
                <th>
                    {{data.experiences}} years
                </th>
            </tr>
            <tr>
                <td>

                </td>
                <th>
                    <button type="button" class="btn btn-danger" (click)="setOpenConfirm()">{{profile.account.is_banded?'ACTIVATE ACCOUNT':'BAN ACCOUNT'}}</button>
                </th>
            </tr>
        </table>
    </div>
</div>
<app-confirm-dialog *ngIf="open_confirm" (ok)="banAccount()" (closeDialog)="setOpenConfirm($event)" [open]="open_confirm" [message]="messageConfirm"></app-confirm-dialog>