<div class="row" *ngIf="data!=null">
    <div class="col-lg-12 text-center">
        <label class="title-feature"> DETAIL USER</label>
    </div>
    <div class="col-lg-5 box-image">
        <img src="assets/images/doctor1.jpg" alt="">
        <br>
        <label class="name-doctor">
               {{profile.name}}
            </label>
        <label class="specialist">
                {{role=="doctor"?data.major+'':'Patient'}}
            </label>
    </div>
    <div class="col-lg-5">
        <table>
            <tr>
                <th>
                    Username:
                </th>
                <td>
                    {{profile.account.username}}
                </td>
            </tr>
            <tr>
                <th>
                    Create at:
                </th>
                <td>
                    {{profile.account.create_at | date:'MMM-dd-y HH:mm'}}
                </td>
            </tr>
            <tr>
                <th>
                    Status:
                </th>
                <td>
                    -
                </td>
            </tr>
            <tr>
                <th>
                    Account status:
                </th>
                <td>
                    {{profile.account.is_banded?'Banned':'Active'}}
                </td>
            </tr>
            <tr>
                <th>
                    Birthday:
                </th>
                <td>
                    {{profile.birthday | date:'MMM-dd-y'}}
                </td>
            </tr>
            <tr *ngIf="role=='doctor'">
                <th>
                    Specialist:
                </th>
                <td>
                    {{data.major}}
                </td>
            </tr>
            <tr *ngIf="role=='doctor'">
                <th>
                    Certificate:
                </th>
                <td>
                    <img [src]="data.certificate" width="300px" alt="">
                </td>
            </tr>
            <tr>
                <th>
                    Place:
                </th>
                <td>
                    {{profile.address.addressLine}}, {{profile.address.ward}}, {{profile.address.city}}, {{profile.address.country}}
                </td>
            </tr>
            <tr *ngIf="role=='doctor'">
                <th>
                    Experience:
                </th>
                <td>
                    {{data.experiences}} years
                </td>
            </tr>
            <tr>
                <th>

                </th>
                <td>
                    <button type="button" class="btn btn-danger" (click)="setOpenConfirm()">{{profile.account.is_banded?'ACTIVATE ACCOUNT':'BAN ACCOUNT'}}</button>
                </td>
            </tr>
        </table>
    </div>
</div>
<app-confirm-dialog *ngIf="open_confirm" (ok)="banAccount()" (closeDialog)="setOpenConfirm($event)" [open]="open_confirm" [message]="messageConfirm"></app-confirm-dialog>