<div class="container">
    <div class="row">
        <div class="col-lg-2">
                <app-logo></app-logo>
        </div>
        <div class="col-lg-10">
           <nav class="nav justify-content-end">
             <!-- <a class="nav-link" [routerLink]="['/patient/home']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">HOME</a> -->
             <!-- <a class="nav-link" [routerLink]="['/patient/check-up']" routerLinkActive="active">CHECK-UP</a> -->
             <!-- <a class="nav-link" [routerLink]="['/patient/appointments']" routerLinkActive="active">APPOINTMENTS</a> -->
             <!-- <a class="nav-link" [routerLink]="['/patient/find-doctors']" routerLinkActive="active">FIND-DOCTORS</a> -->
             <a class="nav-link" [routerLink]="['/doctor/appointments']" routerLinkActive="active">APPOINTMENTS</a>
             <a class="nav-link" [routerLink]="['/doctor/schedule']" routerLinkActive="active">SCHEDULE</a>
             <a class="nav-link" [routerLink]="['/doctor/contribute']" routerLinkActive="active">CONTRIBUTE</a>
             <!-- <app-unlogin></app-unlogin> -->
             <app-authenticated></app-authenticated>
           </nav>
           
        </div>
    </div>
</div>