.container{
    padding: 5px 10px;
}
.name-system{
    margin: 0;
    padding: 2px 10px;
    font-family: Oswald, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 150%;
}
.text-sologan{
    font-family: Oswald, Arial, Helvetica, sans-serif;
    font-size: 80%;
    color: #666666;
}
.name-role{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30%;
    font-weight: normal;
    position: absolute;
}
nav{
    padding: 0;
}
.col-lg-10{
    align-self: flex-end;
}
.last-nav-link{
    padding-right: 0px;
}
.nav-link {
    color: #434343;
}
.nav-link:hover{
    color: #0000ff;
    font-weight: bold;
}
.active{
    color: #0000ff;
    font-weight: bold;
}
.div-logo:hover{
    color: black;
    cursor: pointer;
}
.div-logo{
    color: black;
}