<div class="container">
    <div class="row">
        <div class="col-lg-2">
                <app-logo></app-logo>
        </div>
        <div class="col-lg-10">
           <nav class="nav justify-content-end">
             <a class="nav-link active" href="#">HOME</a>
             <a class="nav-link" href="#">CHECK-UP</a>
             <a class="nav-link" href="#">APPOINTMENTS</a>
             <a class="nav-link" href="#">FIND-DOCTORS</a>
             <!-- <app-unlogin></app-unlogin> -->
             <app-authenticated></app-authenticated>
           </nav>
           
        </div>
    </div>
</div>