<div class="confirm-dialog">
    <div class="background">

    </div>
    <div class="dialog">
        <div class="row">
            <div class="col-lg-12 title">
                <p >UPDATE YOUR TIME</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <input type="radio" id="each_day">
                <label for="each_day"> Each day</label>
            </div>
            <div class="col-lg-2">
                <input type="radio" id="general">
                <label for="general">General</label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <p>Time per an appointment (minute):</p>
            </div>
            <div class="col-lg-3">
                <input type="number" class="form-control" name="" id="username" aria-describedby="helpId" placeholder="minutes">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table>
                    <tr>
                        <th>
                            Mon
                        </th>
                        <th>
                            Tue
                        </th>
                        <th>
                            Wed
                        </th>
                        <th>
                            Thu
                        </th>
                        <th>
                            Fri
                        </th>
                        <th>
                            Sat
                        </th>
                        <th>
                            Sun
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <input type="button" class="form-control btn-success add-time" value="7:00-8:00" name="" id="" aria-describedby="helpId" placeholder="Add time">
                            <i class="fas fa-times-circle"></i>
                        </td>
                        <td>
                            <input type="button" class="form-control btn-success add-time" value="7:00-8:00" name="" id="" aria-describedby="helpId" placeholder="Add time">
                            <i class="fas fa-times-circle"></i>
                        </td>
                        <td>
                            <input type="button" class="form-control btn-success add-time" value="7:00-8:00" name="" id="" aria-describedby="helpId" placeholder="Add time">
                            <i class="fas fa-times-circle"></i>
                        </td>
                        <td>
                            <input type="button" class="form-control btn-success add-time" value="7:00-8:00" name="" id="" aria-describedby="helpId" placeholder="Add time">
                            <i class="fas fa-times-circle"></i>
                        </td>
                        <td>
                            <input type="button" class="form-control btn-success add-time" value="7:00-8:00" name="" id="" aria-describedby="helpId" placeholder="Add time">
                            <i class="fas fa-times-circle"></i>
                        </td>
                        <td>
                            <input type="button" class="form-control btn-success add-time" value="7:00-8:00" name="" id="" aria-describedby="helpId" placeholder="Add time">
                            <i class="fas fa-times-circle"></i>
                        </td>
                        <td>
                            <input type="button" class="form-control btn-success add-time" value="7:00-8:00" name="" id="" aria-describedby="helpId" placeholder="Add time">
                            <i class="fas fa-times-circle"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" class="form-control add-time" name="" id="" aria-describedby="helpId" placeholder="Add time">
                            <i class="fas fa-check-circle"></i>
                        </td>
                        <td>
                            <input type="text" class="form-control add-time" name="" id="" aria-describedby="helpId" placeholder="Add time">
                            <i class="fas fa-check-circle"></i>
                        </td>
                        <td>
                            <input type="text" class="form-control add-time" name="" id="" aria-describedby="helpId" placeholder="Add time">
                            <i class="fas fa-check-circle"></i>
                        </td>
                        <td>
                            <input type="text" class="form-control add-time" name="" id="" aria-describedby="helpId" placeholder="Add time">
                            <i class="fas fa-check-circle"></i>
                        </td>
                        <td>
                            <input type="text" class="form-control add-time" name="" id="" aria-describedby="helpId" placeholder="Add time">
                            <i class="fas fa-check-circle"></i>
                        </td>
                        <td>
                            <input type="text" class="form-control add-time" name="" id="" aria-describedby="helpId" placeholder="Add time">
                            <i class="fas fa-check-circle"></i>
                        </td>
                        <td>
                            <input type="text" class="form-control add-time" name="" id="" aria-describedby="helpId" placeholder="Add time">
                            <i class="fas fa-check-circle"></i>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row buttons">
            <div class="col-lg-2">
                <button type="button" class="btn btn-primary">Update</button>
            </div>
            <div class="col-lg-2">
                <button type="button" class="btn btn-danger">Cancel</button>
            </div>
        </div>
    </div>
</div>
