<div class="confirm-dialog">
<div class="background">

</div>
<div class="dialog">
    <div class="row">
        <div class="col-lg-12">
            <p class="title">REGISTER</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <table>
                <tr>
                    <td>
                        <input type="checkbox" name="" id="username">
                    </td>
                    <td>
                        <p>Are you Doctor?</p>
                    </td>
                </tr>
            </table>
            
            
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 one-icon">
            <input type="text" class="form-control padding" name="" id="username" aria-describedby="helpId" placeholder="Username">
            <i class="fas fa-user first-icon"></i>
        </div>
        <div class="col-lg-4 password">
            <input type="password" class="form-control padding" name="" id="password" aria-describedby="helpId" placeholder="Password">
            <i class="fas fa-key first-icon"></i>
            <i class="fas fa-eye-slash"></i>
        </div>
        <div class="col-lg-4 password">
            <input type="password" class="form-control padding" name="" id="re-password" aria-describedby="helpId" placeholder="Re-password">
            <i class="fas fa-key first-icon"></i>
            <i class="fas fa-eye-slash"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 one-icon ">
            <input type="text" class="form-control padding" name="" id="username" aria-describedby="helpId" placeholder="Email">
            <i class="fas fa-envelope first-icon"></i>
        </div>
        <div class="col-lg-4 one-icon ">
            <input type="text" class="form-control padding" name="" id="username" aria-describedby="helpId" placeholder="Phone number">
            <i class="fas fa-phone-square-alt first-icon"></i>
        </div>
        <div class="col-lg-4 one-icon">
            <input type="date" class="form-control padding" name="" id="re-password" aria-describedby="helpId" placeholder="Re-password">
            <i class="fas fa-birthday-cake first-icon"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <select class="form-control">
                <option>Male</option>
                <option>Female</option>
                <option>Other</option>
            </select>
        </div>
        <div class="col-lg-4">
            <select class="form-control">
                <option>Country</option>
                <option>Viet Nam</option>
                <option>Other</option>
            </select>
        </div>
        <div class="col-lg-4">
            <select class="form-control">
                <option>City</option>
                <option>Da Nang</option>
                <option>Other</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <select class="form-control">
                <option>District</option>
                <option>Hai Chau</option>
                <option>Other</option>
            </select>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Street">
        </div>
        <div class="col-lg-4">
            <select class="form-control">
                <option>Specialist</option>
                <option>A</option>
                <option>Other</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <input type="number" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Experiences">
        </div>
        <div class="col-lg-4">
            <label for="upload"><h2><span class="badge badge-warning">Certificate</span></h2></label>
            <input type="file" id="upload" style="display: none">
        </div>
        <div class="col-lg-4">
            <img src="assets/images/no-image.png" width="100px" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <button type="button" class="btn btn-primary">REGISTER</button>
        </div>
    </div>
</div>
</div>
