<div class="container">
    <div class="row text-center" *ngIf="isLoading">
        <div class="col-lg-12">
            <div class="spinner-border text-info"></div>
        </div>
    </div>
    <div class="row" *ngIf="!isLoading">
        <div class="col-lg-4">
            <img src="assets/images/doctor1.jpg" alt="">
            <label class="name-doctor" >Dr. {{data.doctorEntity.account.name}}</label>
            <table>
                <tr>
                    <th>
                            Specialist:
                    </th>
                    <td>
                            {{data.doctorEntity.major}}
                    </td>
                </tr>
                <tr>
                    <th>
                            Birthday:
                    </th>
                    <td>
                            {{data.doctorEntity.account.birthday | date: 'd, MMM, y'}} 
                    </td>
                </tr>
                <tr>
                    <th>
                            Experience:
                    </th>
                    <td>
                            {{data.doctorEntity.experiences}} {{data.doctorEntity.experiences>1?'years':'year'}}
                    </td>
                </tr>
                <tr>
                    <th>
                            Address:
                    </th>
                    <td>
                            {{data.doctorEntity.account.address.addressLine}}, 
                            {{data.doctorEntity.account.address.ward}}, 
                            {{data.doctorEntity.account.address.locality}}, 
                            {{data.doctorEntity.account.address.city}}, 
                            {{data.doctorEntity.account.address.country}}
                    </td>
                </tr>
            </table>
        </div>
        
        <div class="col-lg-8" >
            <!-- <div class="col-lg-12 text-center" *ngIf="data.scheduleResponses.length==0">
                <span class="badge badge-warning">No schedule.</span>
            </div> -->
            <table class="col-lg-12" >
                <tr>
                    <th *ngFor="let name of dayName">
                        {{name}}
                    </th>
                </tr>
                <tr>
                    <td *ngFor="let scheduleResponse of data.scheduleResponses; let i = index">
                        <table>
                            <tr *ngFor="let periodTimeResponse  of scheduleResponse.periodTimeResponses; let j = index">
                                <td>
                                    <button type="button" (click)="ROLE=='ROLE_PATIENT'?toggleConfirmDialog(i,periodTimeResponse,scheduleResponse):null" [class] = "periodTimeResponse.status?'btn btn-danger':'btn btn-success'"class="btn btn-success">{{convertTimeService.intToTime(periodTimeResponse.startAt)+"-"+convertTimeService.intToTime(periodTimeResponse.endAt)}}</button>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>  
            <div class="row">
                <div class="col-lg-4">
                    <table>
                        <tr>
                            <td>
                                <button type="button" class="btn btn-success"></button>
                            </td>
                            <td>
                                Available
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button type="button" class="btn btn-danger"></button>
                            </td>
                            <td>
                                Busy
                            </td>
                        </tr>
                    </table>
                </div>  
                 <div class="col-lg-8 btn-update" *ngIf="ROLE=='ROLE_DOCTOR'">
                    <button type="button" class="btn btn-primary" (click)="toggleUpdateDialog()">Update your schedule</button>
                </div>
            </div>
        </div>
       
    </div>
</div>
<app-confirm-dialog *ngIf="open_confirm" (book)="bookAppointment()" (closeDialog)="setOpenConfirm($event)" [open]="open_confirm" [thatDay] = "thatDay" [time_period] = time_period ></app-confirm-dialog>
<app-notif-dialog (closeDialog)="setOpenConfirm($event)" [open]="open_notif"></app-notif-dialog>
<app-update-schedule *ngIf="ROLE=='ROLE_DOCTOR'" (closeDialog)="setOpenUpdate($event)" (updated)="ngOnInit()" [open]="open_update"></app-update-schedule>