<div class="container">
    <div class="row text-center" *ngIf="isLoading">
        <div class="col-lg-12">
            <div class="spinner-border text-info"></div>
        </div>
    </div>
    <div class="row" *ngIf="!isLoading">
        <div class="col-lg-4">
            <img src="assets/images/doctor1.jpg" alt="">
            <label class="name-doctor" >Dr. Abc</label>
            <table>
                <tr>
                    <th>
                            Specialist:
                    </th>
                    <td>
                            abc
                    </td>
                </tr>
                <tr>
                    <th>
                            Age:
                    </th>
                    <td>
                            30
                    </td>
                </tr>
                <tr>
                    <th>
                            Experience:
                    </th>
                    <td>
                            1.5 years
                    </td>
                </tr>
                <tr>
                    <th>
                            Address:
                    </th>
                    <td>
                            abc
                    </td>
                </tr>
                <tr>
                    <th>
                            Total appointments:
                    </th>
                    <td>
                            200
                    </td>
                </tr>
            </table>
        </div>
        
        <div class="col-lg-8" >
            <!-- <div class="col-lg-12 text-center" *ngIf="data.scheduleResponses.length==0">
                <span class="badge badge-warning">No schedule.</span>
            </div> -->
            <table class="col-lg-12" >
                <tr>
                    <th>
                        Monday
                    </th>
                    <th>
                        Tuesday
                    </th>
                    <th>
                        Wednesday
                    </th>
                    <th>
                        Thusday
                    </th>
                    <th>
                        Friday
                    </th>
                    <th>
                        Saturday
                    </th>
                    <th>
                        Sunday
                    </th>
                </tr>
                <tr>
                    <td>
                        <button type="button" (click)="toggleConfirmDialog()" class="btn btn-success">7:00-8:00</button>
                    </td>
                    <td>
                        <button type="button" (click)="toggleConfirmDialog()" class="btn btn-success">7:00-8:00</button>
                    </td>
                    <td>
                        <button type="button" (click)="toggleConfirmDialog()" class="btn btn-success">7:00-8:00</button>
                    </td>
                    <td>
                        <button type="button" (click)="toggleConfirmDialog()" class="btn btn-success">7:00-8:00</button>
                    </td>
                    <td>
                        <button type="button" (click)="toggleConfirmDialog()" class="btn btn-danger">7:00-8:00</button>
                    </td>
                    <td>
                        <button type="button" (click)="toggleConfirmDialog()" class="btn btn-success">7:00-8:00</button>
                    </td>
                    <td>
                        <button type="button" (click)="toggleConfirmDialog()" class="btn btn-success">7:00-8:00</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" (click)="toggleConfirmDialog()" class="btn btn-success">7:00-8:00</button>
                    </td>
                    <td>
                        <button type="button" (click)="toggleConfirmDialog()" class="btn btn-success">7:00-8:00</button>
                    </td>
                    <td>
                        <button type="button" (click)="toggleConfirmDialog()" class="btn btn-success">7:00-8:00</button>
                    </td>
                    <td>
                        <button type="button" (click)="toggleConfirmDialog()" class="btn btn-success">7:00-8:00</button>
                    </td>
                    <td>
                        <button type="button" (click)="toggleConfirmDialog()" class="btn btn-danger">7:00-8:00</button>
                    </td>
                    <td>
                        <button type="button" (click)="toggleConfirmDialog()" class="btn btn-success">7:00-8:00</button>
                    </td>
                    <td>
                        <button type="button" (click)="toggleConfirmDialog()" class="btn btn-success">7:00-8:00</button>
                    </td>
                </tr>
            </table>  
            <div class="row">
                <div class="col-lg-4">
                    <table>
                        <tr>
                            <td>
                                <button type="button" class="btn btn-success"></button>
                            </td>
                            <td>
                                Available
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button type="button" class="btn btn-danger"></button>
                            </td>
                            <td>
                                Busy
                            </td>
                        </tr>
                    </table>
                </div>  
                 <div class="col-lg-8 btn-update">
                    <button type="button" class="btn btn-primary" (click)="toggleUpdateDialog()">Update your schedule</button>
                </div>
            </div>
        </div>
       
    </div>
</div>
<app-confirm-dialog (closeDialog)="setOpenConfirm($event)" [open]="open_confirm" ></app-confirm-dialog>
<app-notif-dialog (closeDialog)="setOpenConfirm($event)" [open]="open_notif"></app-notif-dialog>
<app-update-schedule (closeDialog)="setOpenUpdate($event)" [open]="open_update"></app-update-schedule>