<div class="container margin-top">
    <div class="row text-center" *ngIf="isLoading">
        <div class="col-lg-12">
            <div class="spinner-border text-info"></div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-lg-12 text-center ">
            <label class="title-feature">SCHEDULE</label>
        </div>
    </div> -->
    <div class="row" *ngIf="!isLoading">
        <div class="col-lg-12 frame-border padding-15px margin-bottom">
            <div class="row" *ngIf="doctor!=null">
                <div class="col-lg-4">
                    <img class="image-width" [src]="data.doctor.account.avatar==''?'assets/images/no-avatar.png':data.doctor.account.avatar" alt="" style="width: inherit; border-radius: 10px;">

                </div>
                <div class="col-lg-8">
                    <label class="name-doctor">Dr. {{data.doctor.account.name}}</label>
                    <table class="text-left">
                        <tr>
                            <td>
                                Specialist:
                            </td>
                            <th>
                                {{data.doctor.major}}
                            </th>
                        </tr>
                        <tr>
                            <td>
                                Birthday:
                            </td>
                            <th>
                                {{data.doctor.account.birthday | date: 'd, MMM, y'}}
                            </th>
                        </tr>
                        <tr>
                            <td>
                                Experience:
                            </td>
                            <th>
                                {{data.doctor.experiences}} {{data.doctor.experiences>1?'years':'year'}}
                            </th>
                        </tr>
                        <tr>
                            <td>
                                Address:
                            </td>
                            <th>
                                {{data.doctor.account.address.addressLine}}, {{data.doctor.account.address.ward}}, {{data.doctor.account.address.locality}}, {{data.doctor.account.address.city}}, {{data.doctor.account.address.country}}
                            </th>
                        </tr>
                        <tr *ngIf="ROLE=='ROLE_PATIENT'">
                            <th>
                                <button type="button" class="btn btn-primary" (click)="sendMessage()">SEND</button>
                            </th>
                            <td>
                                <textarea class="form-control" [(ngModel)]="messageChat" name="" id="" cols="30" rows="3" placeholder="Send a message to doctor"></textarea>
                            </td>
                        </tr>
                        <tr *ngIf="ROLE=='ROLE_PATIENT'">
                            <th>
                                <!-- <button type="button" class="btn btn-primary" (click)="sendMessage()">SEND</button> -->
                            </th>
                            <td>
                                <button type="button" class="btn btn-primary" (click)="sendLastestResult()">
                                        <i class="fas fa-share"></i> SEND LASTEST RESULT
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="col-lg-12 padding-15px">

                    <div class="row">
                        <div class="col-lg-6 text-center" *ngIf="message!=null">
                            <span class="badge badge-warning">{{message}}</span>
                        </div>
                        <div class="col-lg-6 text-center" *ngIf="message!=null&&ROLE=='ROLE_DOCTOR'">
                            <span class="badge badge-pill badge-warning" *ngIf="!doctor.account.account.is_approved">Your account hasn't been verified.</span>
                            <br>
                            <button type="button" [disabled]="!doctor.account.account.is_approved" class="btn btn-primary" (click)="toggleUpdateDialog()">
                                SET SCHEDULE
                            </button>
                        </div>
                    </div>
                    <div class="row margin-bottom " *ngIf="message==null">
                        <div class="col-lg-5">
                            <select class="form-control" [(ngModel)]="weekSelected" (change)="changeWeek($event.target.value)">
                                <option value="{{i}}" *ngFor="let week of weeks; let i = index">{{week}}</option>
                            </select>
                        </div>
                        <div class="col-lg-5" *ngIf="ROLE=='ROLE_DOCTOR'">
                            <select class="form-control" [(ngModel)]="actionType" (change)="changeActionType($event.target.value)">
                                <option value="available">Available</option>
                                <option value="busy">Busy</option>
                                <option value="default">Default</option>
                                <option value="other">Other</option>
                            </select>
                        </div>
                        <div class="col-lg-2" *ngIf="ROLE=='ROLE_DOCTOR'">
                            <button type="button" [disabled]="timeSelected.length==0" class="btn btn-primary" (click)="addTimeBusy()">ACTION</button>
                        </div>
                    </div>
                    <div class="row" *ngIf="message==null">
                        <div class="col-lg-12 padding-15px">
                            <table class="table-responsive">
                                <tr class="d-flex">
                                    <td class="col-3 col-lg-2">
                                        <span class="btn btn-success margin-right-15px"></span>
                                        <label>Available</label>
                                    </td>
                                    <td class="col-3 col-lg-2">
                                        <span class="btn btn-danger margin-right-15px"></span>
                                        <label>Busy</label>
                                    </td>
                                    <td class="col-3 col-lg-2" *ngIf="ROLE=='ROLE_DOCTOR'">
                                        <span class="btn btn-info margin-right-15px"></span>
                                        <label>Other</label>
                                    </td>
                                    <td class="col-3 col-lg-2" *ngIf="ROLE=='ROLE_DOCTOR'">
                                        <span class=" btn btn-warning margin-right-15px "></span>
                                        <label>Default</label>
                                    </td>
                                    <td class="col-3 col-lg-2" *ngIf="ROLE=='ROLE_DOCTOR'">
                                        <span class="btn btn-primary margin-right-15px"></span>
                                        <label>Booked</label>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <table class="col-lg-12 table-bordered schedule text-center" *ngIf="message==null">
                        <tr>
                            <th class="w-15">
                                Time
                            </th>
                            <th class="w-15 colunm-day" *ngFor="let name of dayName; let i = index" (click)="pickColunm(i)">
                                {{name}}
                                <br>
                                <small>({{dates[i] | date:'MMM d'}})</small>
                            </th>
                        </tr>
                        <tr *ngFor="let schedule of schedules; let i = index">
                            <td (click)="pickRow(i)" class="row-time">
                                {{schedule.timeResponses[0].startTime | date:'HH:mm'}}
                            </td>
                            <td *ngFor="let time of schedule.timeResponses">
                                <button (click)="toggleConfirmDialog(time)" [disabled]="time.status!='available'||currentTime>time.startTime" *ngIf="ROLE=='ROLE_PATIENT'" [class]="time.status!='available'?'btn btn-danger btn-block padding-15px':'btn btn-success btn-block padding-15px'">
                                </button>
                                <input style="display: none" class="checkbox-schedule" type="checkbox" *ngIf="ROLE=='ROLE_DOCTOR'" [checked]="timeSelected.indexOf(time)!=-1" [id]="time.startTime" (click)="addTime(time)">
                                <label [for]="time.startTime" *ngIf="ROLE=='ROLE_DOCTOR'" [class]="time.status=='available'?' btn btn-success btn-block padding-15px label-checkbox-chedule':
                                                    time.status=='default'?'label-checkbox-chedule btn btn-warning btn-block padding-15px':
                                                    time.status=='busy'?'label-checkbox-chedule btn btn-danger btn-block padding-15px':
                                                    time.status=='patient'?'label-checkbox-chedule btn btn-primary btn-block padding-15px':
                                                    'label-checkbox-chedule btn btn-info btn-block padding-15px'">


                                </label>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>
<app-confirm-dialog *ngIf="open_confirm" (ok)="bookAppointment()" (closeDialog)="setOpenConfirm($event)" [open]="open_confirm" [message]="messageConfirm"></app-confirm-dialog>
<app-notif-dialog (closeDialog)="setOpenConfirm($event)" [open]="open_notif"></app-notif-dialog>
<app-update-schedule *ngIf="ROLE=='ROLE_DOCTOR'" (closeDialog)="setOpenUpdate($event)" (updated)="ngOnInit()" [open]="open_update"></app-update-schedule>