<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3><span class="badge badge-info">Suggest doctors:</span></h3>
        </div>
    </div>
    <div class="row doctor-recommending">
        <div class="col-lg-8">
            <p>
                <img src="assets/images/doctor.jpg" width="50px" alt="">
                Dr. ABC
            </p>
            <p>
                <img src="assets/images/distance.png" width="20px" alt="">
                : 10 km from you | 
                <img src="assets/images/time.png" width="20px" alt="">
                : 10 minutes
            </p>
        </div>
        <div class="col-lg-4">
           <button type="button" class="btn btn-primary">Make an appointment
            </button>
        </div>
    </div>
    <hr>
    <div class="row doctor-recommending">
        <div class="col-lg-8">
            <p>
                <img src="assets/images/doctor.jpg" width="50px" alt="">
                Dr. ABC
            </p>
            <p>
                <img src="assets/images/distance.png" width="20px" alt="">
                : 10 km from you | 
                <img src="assets/images/time.png" width="20px" alt="">
                : 10 minutes
            </p>
        </div>
        <div class="col-lg-4">
           <button type="button" class="btn btn-primary">Make an appointment
            </button>
        </div>
    </div>
</div>