
    <div class="row">
        <div class="col-lg-12">
            <nav class="navbar">

            <!-- Links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link" [routerLink]="['/admin/overview']" routerLinkActive="active"><i class="fas fa-chart-line"></i>OVERVIEW</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" [routerLink]="['/admin/users']" routerLinkActive="active"><i class="fas fa-users"></i>USERS</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" [routerLink]="['/admin/requirements']" routerLinkActive="active"><i class="fas fa-tasks"></i>REQUIREMENTS</a>
                </li>
            </ul>

            </nav>
        </div>
    </div>