<app-top-contact></app-top-contact>
<hr>
<app-header></app-header>
<hr>
<router-outlet></router-outlet>
<!-- <app-chat></app-chat> -->
<!-- <app-homebody></app-homebody> -->
<app-footer></app-footer>
<!-- <hr> -->
<!-- <app-check-up></app-check-up>
<app-result-check-up></app-result-check-up>
<app-doctors-recommending></app-doctors-recommending> -->
<!-- <app-appointments></app-appointments> -->
<!-- <app-appointment></app-appointment> -->
<!-- <app-find-doctors></app-find-doctors> -->
<!-- <app-schedule></app-schedule> -->
<!-- <app-confirm-dialog></app-confirm-dialog> -->
<!-- <app-notif-dialog></app-notif-dialog> -->
<!-- <app-login-dialog></app-login-dialog> -->
<!-- <app-register-dialog></app-register-dialog> -->
<!-- <app-update-schedule></app-update-schedule> -->
<!-- <app-contribute></app-contribute> -->
<!-- <app-history></app-history> -->
<!-- <app-body-admin></app-body-admin> -->
