<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <label class="title-feature">CONTRIBUTION</label>
        </div>
    </div>
    <div class="row margin-bottom">
        <div class="col-lg-12 frame-border padding-15px">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <span class="badge badge-warning" *ngIf="messageError!=null">{{messageError}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3> <span class="badge badge-info">Images</span></h3>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <label for="upload">
                                <h3> <span class="badge badge-primary">Upload image</span></h3>
                            </label>
                            <input type="file" name="" id="upload" (change)="uploadImage($event.target.files[0])" style="display: none">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 image" *ngFor="let image of listImage">
                            <img [src]="image" alt="">
                            <i class="fas fa-times-circle" (click)="deleteImage(image)"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3> <span class="badge badge-info">Information</span></h3>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <table>
                                <tr>
                                    <th>
                                        Name disease:
                                    </th>
                                    <td>
                                        <input type="text" class="form-control" [(ngModel)]="name" name="" id="" aria-describedby="helpId" placeholder="Name disease">
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Description disease:
                                    </th>
                                    <td>
                                        <textarea class="form-control" [(ngModel)]="description" rows="5" id="comment"></textarea>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-12 center-horizontal">
                    <button type="button" class="btn btn-primary" (click)="addDisease()">Add disease</button>
                </div>
            </div>
        </div>
    </div>
</div>