<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3> <span class="badge badge-info">Images</span></h3>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <label for="upload"><h3> <span class="badge badge-primary">Upload image</span></h3></label>
            <input type="file" name="" id="upload" style="display: none">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 image">
            <img src="assets/images/no-image.png" alt="">
            <i class="fas fa-times-circle"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h3> <span class="badge badge-info">Information</span></h3>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <table>
                <tr>
                    <th>
                        Name disease:
                    </th>
                    <td>
                        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Name disease">
                    </td>
                </tr>
                <tr>
                    <th>
                       Description disease:
                    </th>
                    <td>
                        <textarea class="form-control" rows="5" id="comment"></textarea>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-lg-6">
            <button type="button" class="btn btn-primary">Add disease</button>
        </div>
    </div>
</div>