img {
    width: inherit;
}

.image {
    position: relative;
}

.fa-times-circle {
    position: absolute;
    top: -10px;
    right: 5px;
    color: gray;
    /* font-size: 150%; */
}

.fa-times-circle:hover {
    cursor: pointer;
    color: black;
}

table {
    width: 100%;
}