<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <label class="title-feature">CHECK-UP</label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 frame-border margin-bottom">
            <label class="label-image" for="file_upload"><img
                [src] = "image!=null?image:'assets/images/no-image.png'"
                 width="500px" height="400px" class="" alt="" ></label>
            <input type="file" id="file_upload" (change)="uploadImage($event.target.files[0])">

            <button type="button" class="btn btn-primary" (click)="checkUp()" [disabled]="disabled">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="isloading"></span>
                {{isloading?'DIAGNOSING...':'DIAGNOSE'}}
            </button>
        </div>
    </div>
</div>