<nav class="nav justify-content-end">
    <a class="nav-link " [routerLink]="['/patient/messages']">
        <i class="fab fa-facebook-messenger">

        </i>
    </a>
    <a class="nav-link " href="javascript:void(0)">
        <div class="btn-group">
            <i class="far fa-bell dropdown-toggle" width="50px" height="50px" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
            <!-- <label class="dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></label> -->
            <div class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item" type="button"><i class="fas fa-exclamation-triangle"></i> Dr. Ads have canceled your appointment.</button>
                <hr>
                <button class="dropdown-item" type="button"><i class="fas fa-exclamation-triangle"></i> Dr. Ads have canceled your appointment.</button>
            </div>
        </div>
    </a>
    <a class="nav-link last-nav-link " href="javascript:void(0)">
        <div class="btn-group">
            <img src="assets/images/doctor1.jpg" class="rounded-circle dropdown-toggle" width="50px" height="50px" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" alt="">
            <!-- <label class="dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></label> -->
            <div class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item" [routerLink]="['/patient/profile']" type="button">Profile</button>
                <button class="dropdown-item" [routerLink]="['/patient/history']" type="button">History</button>
                <hr>
                <button class="dropdown-item" type="button">Log out</button>
            </div>
        </div>
    </a>
</nav>
