<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <label class="title-feature">PROFILE</label>
        </div>
    </div>
    <div class="row center-horizontal padding-15px frame-border margin-bottom">
        <div class="col-lg-6">
            <label for="upload" id="label-upload"><img src="assets/images/doctor1.jpg" class="rounded-circle"
                    width="300px" height="300px" alt=""></label>
            <input type="file" id="upload" style="display: none">
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-12 title">
                    <p>Information</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 center-horizontal">
                    <table class=" table table-borderless table-responsive">
                        <tr class="d-flex">
                            <th class="col-4">
                                Name
                            </th>
                            <td class="col-4">
                                ABC
                            </td>
                            <td class="col-4">
                                <i class="fas fa-pencil-alt"></i>
                            </td>
                        </tr>
                        <tr class="d-flex">
                            <th class="col-4">
                                Birthday
                            </th>
                            <td class="col-4">
                                31/12/1997
                            </td>
                            <td class="col-4">
                                <i class="fas fa-pencil-alt"></i>
                            </td>
                        </tr>
                        <tr class="d-flex">
                            <th class="col-4">
                                Email
                            </th>
                            <td class="col-4">
                                abc@gmail.com
                            </td>
                            <td class="col-4">
                                <i class="fas fa-pencil-alt"></i>
                            </td>
                        </tr>
                        <tr class="d-flex">
                            <th class="col-4">
                                Phone number
                            </th>
                            <td class="col-4">
                                +84133234532
                            </td>
                            <td class="col-4">
                                <i class="fas fa-pencil-alt"></i>
                            </td>
                        </tr>
                        <tr class="d-flex">
                            <th class="col-4">
                                Address
                            </th>
                            <td class="col-4">
                                asdasd
                            </td>
                            <td class="col-4">
                                <i class="fas fa-pencil-alt"></i>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>