<div class="container">
    <div class="row box-profile">
        <div class="col-lg-4">
            <label for="upload" id="label-upload" ><img  src="assets/images/doctor1.jpg" class="rounded-circle" width="300px" height="300px" alt=""></label>
            <input type="file" id="upload" style="display: none">
        </div>
        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-12 title">
                    <p>Information</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <table>
                        <tr>
                            <th>
                                Name
                            </th>
                            <td>
                                ABC
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Birthday
                            </th>
                            <td>
                                31/12/1997
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Email
                            </th>
                            <td>
                                abc@gmail.com
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Phone number
                            </th>
                            <td>
                                +84133234532
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Address
                            </th>
                            <td>
                                asdasd
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button type="button" class="btn btn-primary">Update</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger">Cancel</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>