<div class="container">
    <div class="row">
        <div class="col-lg-4 box-image">
            <img src="assets/images/doctor1.jpg" alt="">
            <br>
            <label class="name-doctor">
                Dr. Adam Brain
            </label>
            <label class="specialist">
                Cardiologist
            </label>
        </div>
        <div class="col-lg-4">
            <table>
                <tr>
                    <th>
                        Create at:
                    </th>
                    <td>
                        13/09/2019 at 15:32
                    </td>
                </tr>
                <tr>
                    <th>
                        Date:
                    </th>
                    <td>
                        14/09/2019
                    </td>
                </tr>
                <tr>
                    <th>
                        Start at:
                    </th>
                    <td>
                        7:00
                    </td>
                </tr>
                <tr>
                    <th>
                        End at:
                    </th>
                    <td>
                        8:00
                    </td>
                </tr>
                <tr>
                    <th>
                        Place:
                    </th>
                    <td>
                        Hoang Dieu 455, Hai Chau, Da Nang, Viet Nam
                    </td>
                </tr>
                <tr>
                    <th>
                        Status:
                    </th>
                    <td>
                        Pending
                    </td>
                </tr>
                <tr>
                    <th>
                        Disease reference:
                    </th>
                    <td>
                        Abcasadas
                    </td>
                </tr>
                <tr>
                    <th>
                        <button type="button" class="btn btn-danger">Cancel</button>
                    </th>
                    <td>
                       
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>