.box-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-doctor {
    font-family: Playfair Display, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 130%;
}

.specialist {
    color: gray;
}