<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <h3> <span class="badge badge-info">GROWTH</span></h3>
            </div>
        </div>
        <div class="row" *ngIf="totalDoctors!=null">
            <div class="col-lg-4">
                <app-line-chart [data]="patient" [type]="'patient'"></app-line-chart>
            </div>
            <div class="col-lg-4">
                <app-line-chart [data]="doctor" [type]="'doctor'"></app-line-chart>
            </div>
            <div class="col-lg-4">
                <app-line-chart [data]="appointment" [type]="'appointment'"></app-line-chart>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h3> <span class="badge badge-info">USERS</span></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 chart">
                <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" [options]="pieChartOptions" [plugins]="pieChartPlugins" [colors]="pieChartColors" [legend]="pieChartLegend">
                </canvas>
            </div>
            <div class="col-lg-4 label-users">
                <div class="row">
                    <div class="col-lg-12" style="text-align: left;">
                        <span class="color-bar-1"></span>
                        <span style="padding-left: 10px;">
                            Patient
                        </span>
                    </div>
                    <!-- <div class="col-lg-8">
                        
                    </div> -->
                </div>
                <div class="row">
                    <div class="col-lg-12" style="text-align: left;">
                        <span class="color-bar-2"></span>
                        <span style="padding-left: 10px;">
                            Doctor
                        </span>
                    </div>
                    <!-- <div class="col-lg-8">
                       
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>