.col-lg-12 {
    text-align: center;
}

.title {
    color: #1155cc;
    font-weight: bold;
    font-size: 130%;
}

.note {
    color: red;
    font-weight: normal;
    font-size: 80%;
}

.color-bar-1 {
    background: rgba(255, 0, 0, 0.3);
    padding: 2px 50px;
    border-radius: 10px;
}

.color-bar-2 {
    background: rgba(0, 255, 0, 0.3);
    padding: 2px 50px;
    border-radius: 10px;
}

.label-users {
    margin-top: auto;
    margin-bottom: auto;
}