<div class="confirm-dialog" *ngIf="open">
    <div class="background" (click)="toggleConfirmDialog()">

    </div>
    <div class="dialog">
        <div class="row">
            <div class="col-12">
                <p>
                    {{message}}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <button type="button" class="btn btn-primary" (click)="confirmOK()">Confirm</button>
            </div>
            <div class="col-6">
                <button type="button" (click)="toggleConfirmDialog()" class="btn btn-danger">Cancel</button>
            </div>
        </div>
    </div>
</div>