<div>
    <ngx-spinner bdOpacity=1 bdColor="#00000092" size="medium" color="#fff" type="ball-atom" [fullScreen]="true">
        <p style="color: white"> Loading... </p>
    </ngx-spinner>
</div>
<div class="confirm-dialog" *ngIf="open">
    <div class="background" (click)="toggleLoginDialog()">

    </div>
    <div class="dialog">

        <div class="row logo">
            <div class="col-lg-12">
                <img src="assets/images/logo.png" width="40px" class="logo" alt="">
                <label class="name-system">HC
                    <!-- <label class="name-role">PATIENT</label> -->
                <label class="name-role">LOGIN</label>
                <!-- <label class="name-role">ADMIN</label> -->
                </label>
            </div>
        </div>
        <div class="row sologan">
            <div class="col-lg-12">
                <label class="text-sologan">HEALTH CARE SOLUTION</label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <a href="javascript:void(0)" [class]="isLoginOpen?'tab-active':'tab-disable'" (click)="openLogin()">LOGIN</a>
            </div>
            <div class="col-lg-6">
                <a [class]="!isLoginOpen?'tab-active':'tab-disable'" href="javascript:void(0)" (click)="openRegister()">REGISTER</a>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-lg-12">
                <span class="badge badge-warning">{{errorMessage}}</span>
            </div>
        </div> -->
        <!-- <div class="row">
            <div class="col-lg-12 username">
                <input type="text" [class]="errorField.length==0?'form-control':errorField[0]==false?'form-control is-invalid':'form-control is-valid'" [(ngModel)]="username" name="" id="username" aria-describedby="helpId" placeholder="Username">
                <i class="fas fa-user"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 password">
                <input [type]="isCoverPassword?'password':'text'" [class]="errorField.length==0?'form-control':errorField[1]==false?'form-control is-invalid':'form-control is-valid'" class="form-control" [(ngModel)]="password" name="" id="password" aria-describedby="helpId"
                    placeholder="Password">
                <i class="fas fa-key"></i>
                <i class="fas fa-eye-slash" *ngIf="isCoverPassword" (click)="toggleCoverPassword()"></i>
                <i class="fas fa-eye" *ngIf="!isCoverPassword" (click)="toggleCoverPassword()"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 forgot-password">
                <p><a href="javascript:void(0)" (click)="toggleRegisterDialog()">Do you have account?</a> Or <a href="">forgot password?</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <button type="button" class="btn btn-primary" (click)="login()">LOGIN</button>
            </div>
        </div> -->
        <app-login *ngIf="isLoginOpen" (tranforDataLogin)="setData($event)"></app-login>
        <app-register-dialog *ngIf="!isLoginOpen"></app-register-dialog>
    </div>
</div>
<!-- <app-register-dialog (closeDialog)="setOpenRegister($event)" (moveToLogin)="registerSuccess()" [open]="open_register"> -->
<!-- </app-register-dialog> -->