<div class="row intro intro1">
    <div class="box-text">
        <p class="title">
            Making Health Care Better Together                
        </p>
        <p class="description">
            Also you dry creeping beast multiply fourth abundantly our itsel signs bring our. Won form living. Whose dry you seasons divide given gathering great in whose you'll greater let livein form beast sinthete better together these place absolute right.
        </p>
        <button type="button" class="btn btn-primary" [routerLink]="['/patient/check-up']" >Check Your Disease Now</button>
    </div>
</div>
<div class="row p-3 text-center" *ngIf="data==null">
    <div class="col-lg-12">
        <div class="spinner-border text-info " ></div>
    </div>
</div>

<div class="row intro intro2" *ngIf="data!=null">
    <div class="col-lg-3 box-statistic">
        <div class="row">
            <div class="col-lg-4">
                <img src="assets/images/doctor.jpg" width="100px" class="" alt="">
            </div>
            <div class="col-lg-8">
                
                <p class="title-statistic">
                    {{data.totalDoctors}}+ DOCTORS
                </p>
                <p class="description-statistic">
                    More than {{data.totalDoctors}} doctors have joined with us
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 box-statistic">
        <div class="row">
            <div class="col-lg-4">
                <img src="assets/images/patient.png" width="100px" class="" alt="">
            </div>
            <div class="col-lg-8">
                <p class="title-statistic">
                    {{data.totalPatients}}+ PATIENTS
                </p>
                <p class="description-statistic">
                    More than {{data.totalPatients}} patients have believed in our system
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 box-statistic">
        <div class="row">
            <div class="col-lg-4">
                <img src="assets/images/schedule.jpg" width="100px" class="" alt="">
            </div>
            <div class="col-lg-8">
                <p class="title-statistic">
                   {{data.totalAppointments}}+ APPOINTMENTS
                </p>
                <p class="description-statistic">
                    More than {{data.totalAppointments}} appointments created
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container p-3">
    <div class="title">
        <p>Top 3 doctors have the most experiences</p>
    </div>
</div>
<div class="row p-3 text-center" *ngIf="data==null">
    <div class="col-lg-12">
        <div class="spinner-border text-info " ></div>
    </div>
</div>
<div class="row intro intro3" *ngIf="data!=null">
    <div class="col-lg-3 box-top-doctor" *ngFor="let doctor of data.top3DoctorsByYearExperiences" >
        <img src="assets/images/doctor.jpg" *ngIf="doctor.account.avatar==''" class="" alt="">
        <img [src] = "url+'/utility/image/'+doctor.account.avatar" *ngIf="doctor.account.avatar!=''" class="" alt="">
        <p class="name-doctor">
            Dr. {{doctor.account.name}}
        </p>
        <p class="specialist">
            {{doctor.major}} / {{doctor.experiences}} years
        </p>
    </div>
</div>