<div class="row intro intro1">
    <div class="box-text">
        <p class="title">
            Making Health Care Better Together                
        </p>
        <p class="description">
            Also you dry creeping beast multiply fourth abundantly our itsel signs bring our. Won form living. Whose dry you seasons divide given gathering great in whose you'll greater let livein form beast sinthete better together these place absolute right.
        </p>
        <button type="button" class="btn btn-primary">Check Your Disease Now</button>
    </div>
</div>
<div class="row intro intro2">
    <div class="col-lg-3 box-statistic">
        <div class="row">
            <div class="col-lg-4">
                <img src="assets/images/doctor.jpg" width="100px" class="" alt="">
            </div>
            <div class="col-lg-8">
                <p class="title-statistic">
                    200+ DOCTORS
                </p>
                <p class="description-statistic">
                    More than 200 doctors have joined with us
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 box-statistic">
        <div class="row">
            <div class="col-lg-4">
                <img src="assets/images/patient.png" width="100px" class="" alt="">
            </div>
            <div class="col-lg-8">
                <p class="title-statistic">
                    200+ PATIENTS
                </p>
                <p class="description-statistic">
                    More than 200 patients have believed in our system
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 box-statistic">
        <div class="row">
            <div class="col-lg-4">
                <img src="assets/images/schedule.jpg" width="100px" class="" alt="">
            </div>
            <div class="col-lg-8">
                <p class="title-statistic">
                    200+ APPOINTMENTS
                </p>
                <p class="description-statistic">
                    More than 200 appointments have succeeding
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="title">
        <p>Experience Doctors</p>
    </div>
</div>
<div class="row intro intro3">
    <div class="col-lg-3 box-top-doctor">
        <img src="assets/images/doctor1.jpg" class="" alt="">
        <p class="name-doctor">
            Dr Adam Brain
        </p>
        <p class="specialist">
            Cardiologist
        </p>
    </div>
    <div class="col-lg-3 box-top-doctor">
        <img src="assets/images/doctor2.jpg" class="" alt="">
        <p class="name-doctor">
            Dr Adam Brain
        </p>
        <p class="specialist">
            Cardiologist
        </p>
    </div>
    <div class="col-lg-3 box-top-doctor">
        <img src="assets/images/doctor3.jpg" class="" alt="">
        <p class="name-doctor">
            Dr Adam Brain                 
        </p>
        <p class="specialist">
            Cardiologist
        </p>
    </div>
</div>