.intro {
    margin: 0;
}

.intro1 {
    background-image: url("/assets/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vw;
    ;
    position: relative;
}

.intro2 {
    background-image: url("/assets/images/background-intro2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

.intro3 {
    justify-content: center;
}

.box-text {
    width: 40vw;
    position: absolute;
    left: 50vw;
    bottom: 25%;
}

.title {
    font-family: Playfair Display, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2vw;
}

.description {
    color: gray;
}

.box-statistic {
    background-color: white;
    margin: 5vw 3vw;
    padding: 4vw 1vw;
    border-radius: 10px;
}

.title-statistic {
    font-weight: bold;
    font-size: 1.5vw;
    font-family: Arial, Helvetica, sans-serif;
}

.description-statistic {
    font-size: 1vw;
    color: gray;
}

.box-top-doctor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name-doctor {
    font-family: Playfair Display, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5vw;
}

.specialist {
    color: gray;
    font-size: 1vw;
}

.intro3 img {
    width: inherit;
    height: 25vw;
}

.p-3 {
    padding: 1.5vh !important;
}